html, body {
    font-family: 'Open Sans', sans-serif;
}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-dark {
    background-color: $dark;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and(max-width:960px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
}

@media screen and(max-width:720px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
}

@media screen and(max-width:540px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    display: block;
    cursor: pointer;
    padding: 1em 3em;
    border: none;
    border-radius: 5px;
    &:active {
        border: none;
    }
    &.btn-warning {
        background-color: $warning;
        color: #fff;
    }
    &.btn-warning-border {
        background-color: #fff;
        color: $warning;
        border: 2px solid $warning;
    }
    
}