@import "vars";
@import "libs";
@import "fonts";
@import "baseElements";

.container {
    margin: 0 auto;
    max-width: 1250px;
    position: relative;
}

.section {
    padding: 100px 0;
}

.header {
    height: 100px;
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    opacity: .9;
    z-index: 1000;
    .navbar__elem {
        display: block;
        padding: 40px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        &.active {
            background-color: $warning;
        }
    }
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}

.main-content {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 50px 1px rgba(0,0,0,.5);
}



@import "media";
