@import "vars";
@import "libs";
@import "fonts";
@import "baseElements";

.container {
    margin: 0 auto;
    max-width: 1250px;
    position: relative;
}

.section {
    padding: 50px 0;
}

.previous-text {
    position: relative;
    text-align: center;
    &::after {
        position: absolute;
        left: 50%;
        bottom: -1rem;
        transform: translateX(-50%);
        content: "";
        width: 130px;
        border-bottom: 2px solid $warning;
        color: $warning;

    }
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark;
    z-index: 1000;
    .navbar__elem {
        display: block;
        padding: 40px 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        &.active {
            background-color: $warning;
        }
    }
}

#home {
    padding-top: 200px;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}

@media screen and(max-width: 720px) {
    .grid-col-2 {
        grid-template-columns: 1fr;
    }
}

.main-content {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 50px 1px rgba(0,0,0,.5);
}
.video-wrap {
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        background: url(../img/control/Vedio_Icon.png) no-repeat;
        background-size: contain;
        height: 70px;
        width: 70px;
        z-index: 1;
    }
}

.grid-cube {
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr;
    grid-gap: 50px;
}

.svg-mini {
    width: 40px;
    height: 40px;
}

.gallery {
    padding: 20px 0;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;

    .gallery__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media screen and(max-width: 720px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

.detal-gallery {
    display: grid;
    grid-template-areas: "active-img active-text active-text"
                         "active-img list list";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;

    .detal-gallery__img-active{
        grid-area: active-img;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .detal-gallery__text-active {
        grid-area: active-text;
    }

    .detal-gallery__list {
        grid-area: list;
        height: 100%;
        width: 100%;
        display: flex;
        .detal-gallery__elem {
            position: relative;
            height: 100%;
            width: 100%;
            &+.detal-gallery__elem {
                margin-left: 20px;
                cursor: pointer;
            }
            .detal-gallery__img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }
            .detal-gallery__text {
                position: absolute;
                background-color: rgba(0,0,0,.4);
                width: 100%;
                top: 100%;
                transform: translateY(-100%);
                text-align: center;
                color: white;
                z-index: 2;
                .detal-gallery__name {
                    font-size: 1.3rem;
                    padding: .5em;
                    margin: 0;
                }
                .detal-gallery__description {
                    display: none;
                }
            }
            
        }
    }
}

@media screen and(max-width:720px) {
    .detal-gallery {
        .detal-gallery__text {
            display: none;
        }
    }
}


@import "media";
